@* Клиенты *@
@page "/Client"
@using CarRepair.Services
@using CarRepair.Models
@using Newtonsoft.Json
@using System.Text.Json
@rendermode InteractiveServer
@inject ClientRepair ClientRepair
@inject RepairService RepairService
@inject RecordRepair RecordRepair

<h3>Client</h3>
<div class="Client-input">
    <input class="client-name" type="text" @bind="ClientRepair._newClientPage.ClientName" placeholder="Напишите своё имя"/>
    <textarea class="client-text" type="text" @bind="ClientRepair._newClientPage.ClientText" placeholder="Напишите вашу проблему"> </textarea>
    <label>Выберите Услугу:</label>
    <select @bind="RepairService._newServicesPage.Id">
        @foreach (RepairModel servise in RepairService.ServicesPage)
        {
            <option value="@servise.Id">@servise.ServiceTitle</option>
        }
    </select>
    <h3>Выбирите дату:</h3>
    <input type="date" @bind="RepairService._newServicesPage.Date"/>
    <button @onclick="ClientRepair.ClientAdd" class="sub-btn">Добавить</button>
</div>

<table class="reviews-table">


    @foreach (ClientModel item in ClientRepair.ClientPage)
    {
        <tr class="reviews-table-tr">
            <td class="reviews-table-td">
                <div class="reviews-head">
                    <img src="image/Avatar.png" class="reviews-avatar"/>
                    <p class="reviews-name">@item.ClientName</p>
                </div>
                @* @foreach (RepairModel rep in RepairService.ServicesPage) *@
                @* { *@
                @*         string dap = RepairService.GetUslugaName(rep.Id); *@
                @*         @dap *@
                @* } *@
                @{
                    GetServiseTitle();
                }
                @item.ClientTitle
                @* @ClientRepair._newClientPage.Test.ToString("MM/dd/yyyy") *@
                @item.Test.ToString("yyyy-MM-dd")
                <td class="reviews-text-div">
                    <p class="reviews-text">@item.ClientText</p>
                </td>
                <button @onclick="() => ClientRepair.RemoveClient(item)" class="btn-record">Удалить</button>
            </td>
        </tr>
    }
</table >

@code {

    private void GetServiseTitle()
    {
        var selectedOption = RepairService.ServicesPage.FirstOrDefault(o => o.Id == RepairService._newServicesPage.Id);
        ClientRepair._newClientPage.ClientTitle = selectedOption?.ServiceTitle ?? "Нет выбранного";
        ClientRepair._newClientPage.Test = Convert.ToDateTime(RepairService._newServicesPage.Date);
    }

    protected override void OnInitialized()
    {
        ClientRepair.OpenFile();
    }

}